<% layout('layouts/boilerplate') %>

<div style="text-align: center;">
    <h2>Register</h2>
</div>

<div style="width: 60%; margin-left: 20%;">
    <form action="/register" method="post" class="validated-form" novalidate>

        <div class="mb-3">
            <label for="username" class="form-label">
                User name
            </label>
            <input type="text" class="form-control" id="username" name="username" required>
            <div class="invalid-feedback">
                User name is required!
            </div>
        </div>
    
        <div class="mb-3">
            <label for="email" class="form-label">
                Email 
            </label>
            <input type="email" class="form-control" id="email" name="email" required>
            <div class="invalid-feedback">
                Email is a required field
            </div>
        </div>
    
        <div class="mb-3">
            <label for="password" class="form-label">
                Password 
            </label>
            <input type="password" class="form-control" id="password" name="password" required>
            <div class="invalid-feedback">
               Password is required!
            </div>
        </div>
    
       <div style="text-align: right;">
        <button class="btn btn-success">Register</button>
       </div>
    
    </form>
</div>
